@use "../base/variables" as v;

header {
  @include v.flex-between;
  padding: 0.5%;
  border-bottom: solid 0.1vw #636161;

  a {
    text-decoration: none;
    color: #000;
    margin-left: 4%;
  }

  .burger_btn {
    background: transparent;
    border: none;
    display: none;
  }

  nav {
    width: 20%;
    padding-right: 0.5%;
    ul {
      @include v.flex-between;
      width: 100%;
      li {
        list-style: none;
        a {
          text-decoration: none;
        }

        &:first-child {
          width: 40%;
          text-align: end;
          font-weight: 600;
          margin-right: 8%;
          font-size: 1.1vw;
        }
        &:last-child {
          width: 50%;

          a {
            button {
              text-wrap: nowrap;
              padding: 8% 13%;
            }
          }
        }
      }
    }
  }

  @media (max-width: 1224px) {
    nav {
      margin-right: 3%;
      ul {
        li {
          &:first-child {
            width: 45%;
            font-size: 1.3vw;
          }
          &:last-child {
            width: 50%;

            a {
              button {
                font-size: 1.3vw;
                text-wrap: nowrap;
                padding: 12% 13%;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 824px) {
    width: 100%;
    padding: 1%;
    a {
      width: 30%;
    }

    nav {
      width: 36%;
      margin-right: 3%;
      ul {
        li {
          &:first-child {
            width: 45%;
            font-size: 2vw;
          }
          &:last-child {
            width: 50%;

            a {
              button {
                font-size: 2vw;
                text-wrap: nowrap;
                padding: 8% 13%;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 550px) {
    width: 100%;
    padding: 3% 0%;
    a {
      width: 50%;
      margin-left: 3%;
    }

    .burger_btn {
      display: flex;
      margin-right: 3%;
    }
    nav {
      display: none;
    }
  }
  @media (max-width: 167px) {
    width: 100%;
    padding: 3% 0%;
    a {
      width: 80%;
      margin-left: 3%;
    }

    .burger_btn {
      display: flex;
      margin-right: 3%;
    }
    nav {
      display: none;
    }
  }
}
