@use "../../base/variables" as V;

.form_volunteer {
  @include V.flex-center;
  background-color: V.$color-btn;
  padding: 4% 0 7%;

  form {
    width: 80%;
    background-color: #fff;
    padding: 2% 1.5%;
    border-radius: 1vw;
    border: solid 1px black;

    h2 {
      padding-bottom: 1%;
      font-size: 1.9vw;
    }

    .form_volunteer__person {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      h3 {
        width: 100%;
        font-size: 1.5vw;
        padding: 2% 0 1%;
      }
      input {
        padding: 1% 0 1% 1.5%;
        border-radius: 0.5vw;
        border: solid 0.1vw black;
        background-color: V.$background-volunteer;
        &:nth-child(2) {
          width: 49%;
          font-size: 1.2vw;
        }
        &:nth-child(3) {
          width: 49%;
          font-size: 1.2vw;
        }
        &:nth-child(4) {
          width: 100%;
          font-size: 1.2vw;
          margin-top: 0.8%;
        }
      }
    }

    .form_volunteer__msg {
      width: 100%;
      h3 {
        padding: 3% 0 1%;
        font-size: 1.5vw;
      }

      textarea {
        width: 100%;
        min-height: 23vh;
        height: 100%;
        padding: 1% 0 1% 1.5%;
        border-radius: 0.5vw;
        font-size: 1.2vw;
        border: solid 0.1vw black;
        background-color: V.$background-volunteer;
      }

      span {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        font-size: 1.2vw;
        color: rgba(0, 0, 0, 0.4);
      }
    }

    .form_volunteer__submit {
      @include V.flex-center;
      flex-direction: column;

      p {
        font-size: 1.2vw;
        padding: 2% 0 3%;
      }

      input {
        @include V.btn-default;
        font-size: 1.4vw;

        padding: 1% 2%;
      }
    }
  }

  .check_content {
    @include V.flex-center;
    flex-direction: column;
    width: 80%;
    margin: 5% 0;
    padding: 12% 0 15%;
    background-color: #fff;
    border-radius: 1vw;
    border: solid 0.1vw black;

    img {
      width: 13%;
    }

    p {
      margin-top: 3%;
      width: 35%;
      font-size: 1.2vw;
      text-align: center;
    }

    .loading {
      display: flex;
      align-items: center;
      justify-content: center;

      &_spinner {
        padding: 7vh;
        border: 1.5vw solid #7ef3bd;
        border-top-color: #00745A;
        border-radius: 50%;
        animation: spin 0.8s linear infinite;
      }
    }
  }
  @media (max-width: 1224px) {
    form {
      h2 {
        font-size: 2.1vw;
        margin-bottom: 1%;
      }

      .form_volunteer__msg,
      .form_volunteer__person {
        h3 {
          font-size: 1.8vw;
          margin-bottom: 1%;
        }
      }

      .form_volunteer__person {
        input {
          font-size: 1.5vw;
        }
      }
      .form_volunteer__msg {
        span,
        textarea {
          font-size: 1.4vw;
        }
      }

      .form_volunteer__submit {
        input,
        p {
          font-size: 1.5vw;
        }

        p {
          margin-top: 1%;
        }

        input {
          padding: 2% 3%;
          margin-bottom: 2%;
        }
      }
    }

    .check_content {
      img {
        width: 15%;
      }
      p {
        width: 43%;
        font-size: 1.5vw;
      }
    }
  }
  @media (max-width: 824px) {
    form {
      width: 85%;
      h2 {
        font-size: 2.8vw;
      }

      .form_volunteer__msg,
      .form_volunteer__person {
        h3 {
          font-size: 2.4vw;
          margin-bottom: 1%;
        }
      }

      .form_volunteer__person {
        input {
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            font-size: 2vw;
          }
        }
      }
      .form_volunteer__msg {
        span,
        textarea {
          font-size: 2vw;
        }
      }

      .form_volunteer__submit {
        input,
        p {
          font-size: 2vw;
        }

        p {
          margin-top: 1%;
        }

        input {
          padding: 2% 3%;
          margin-bottom: 2%;
        }
      }
    }

    .check_content {
      img {
        width: 18%;
      }
      p {
        width: 55%;
        font-size: 1.9vw;
      }
    }
  }
  @media (max-width: 592px) {
    form {
      width: 90%;
      margin-top: 5%;
      margin-bottom: 8%;
      padding: 2% 7%;
      border-radius: 3vw;

      h2 {
        margin: 3% 0 5%;
        text-align: center;
        font-size: 4vw;
      }

      .form_volunteer__msg,
      .form_volunteer__person {
        h3 {
          font-size: 3vw;
          margin-bottom: 5%;
        }
      }

      .form_volunteer__person {
        input {
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            font-size: 3vw;
            padding: 3% 0 5% 3%;
            border-radius: 2vw;
          }
          &:nth-child(4) {
            margin-top: 3%;
          }
        }
      }
      .form_volunteer__msg {
        span,
        textarea {
          font-size: 3vw;
          padding: 3%;
          border-radius: 2vw;
        }
      }

      .form_volunteer__submit {
        input,
        p {
          font-size: 3vw;
        }

        p {
          margin-top: 1%;
        }

        input {
          padding: 4% 6.5%;
          margin: 4% 0 5%;
          border-radius: 2vw;
        }
      }
    }

    .check_content {
      padding: 20% 0 25% 0;
      img {
        width: 28%;
      }
      p {
        width: 90%;
        font-size: 3.5vw;
      }
    }
  }
  @media (max-width: 167px) {
    form {
      width: 90%;

      h2 {
        font-size: 9vw;
      }

      .form_volunteer__msg,
      .form_volunteer__person {
        h3 {
          font-size: 6vw;
          margin-bottom: 2%;
          text-align: center;
        }
      }

      .form_volunteer__person {
        input {
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            margin-top: 4%;
            width: 100%;
            font-size: 5vw;
            padding: 3% 0 5% 3%;
            border-radius: 2vw;
          }
          &:nth-child(4) {
            margin-top: 4%;
            margin-bottom: 5%;
          }
        }
      }
      .form_volunteer__msg {
        textarea {
          font-size: 5vw;
          min-height: 50vh;
        }

        span {
          font-size: 5vw;
        }
      }

      .form_volunteer__submit {
        input,
        p {
          font-size: 6vw;
          text-align: center;
        }

        p {
          margin-top: 1%;
        }

        input {
          padding: 5% 10%;
          margin: 4% 0 5%;
        }
      }
    }

    .check_content {
      width: 90%;
      border-radius: 3vw;
      padding: 20% 0 25% 0;

      img {
        width: 35%;
      }
      p {
        width: 90%;
        font-size: 5vw;
      }
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
