@use "../../base/variables" as v;

.health {
  display: flex;
  justify-content: space-around;
  padding-top: 1%;

  &__content {
    width: 58%;
    padding-left: 2.5%;

    h1 {
      width: 60%;
      font-size: 4vw;
      padding: 0 0 2% 0;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      animation: slideLeft ease-in-out forwards 1s;
    }

    &__badge {
      @include v.flex-between;
      width: 32%;
      padding: 1% 2%;
      margin: 9% 0 3% 0;
      border-radius: 1.5vw;
      background-color: v.$background-badge;
      cursor: pointer;
      transition: all 0.2s;

      img {
        width: 15%;
      }

      p {
        width: 100%;
        font-size: 1.5vw;
        padding-left: 6%;
      }

      &:hover {
        transform: scale(1.1);
        transition: all 0.2s;
      }
    }
    &__description {
      width: 57%;
      font-size: 1.5vw;
      margin-bottom: 6%;
      animation: slideLeft ease-in-out forwards 2s;
    }

    &__btns {
      @include v.flex-between;
      width: 49%;
      margin-bottom: 14%;
      button {
        width: 46%;

        animation: slideFloot linear infinite 2s;

        &:first-child {
          animation: slideFloot linear infinite 2s;
        }
        &:last-child {
          animation: slideFlootReverse linear infinite 2s;
        }

        &:hover {
          animation-play-state: paused;
        }
      }
    }
  }

  &__picture {
    margin-right: 1.5%;
    width: 35%;
    animation: slideZoom ease-in-out forwards 2s;

    img {
      width: 100%;
    }

    &:hover {
      animation: slideZoom;
    }
  }

  @media (max-width: 1224px) {
    &__content {
      padding-left: 4%;

      h1 {
        width: 78%;
        font-size: 5vw;
      }

      &__badge {
        width: 38%;
      }

      &__description {
        width: 83%;
        font-size: 2vw;
      }

      &__btns {
        width: 68%;
        button {
          width: 46%;
          font-size: 1.5vw;
        }
      }
    }
    &__picture {
      margin-right: 5%;
      width: 43%;
    }
  }
  @media (max-width: 824px) {
    &__content {
      padding-left: 4%;

      h1 {
        width: 90%;
        font-size: 6vw;
      }

      &__badge {
        width: 55%;

        p {
          width: 100%;
          font-size: 2.4vw;
        }
      }

      &__description {
        width: 100%;
        font-size: 2.5vw;
      }

      &__btns {
        width: 88%;
        button {
          width: 46%;
          font-size: 2vw;
        }
      }
    }
    &__picture {
      margin-top: 8%;
      margin-right: 2%;
      width: 35%;
    }
  }
  @media (max-width: 592px) {
    &__content {
      @include v.flex-center;
      width: 100%;
      padding: 2%;
      flex-direction: column;

      h1 {
        width: 100%;
        padding: 0 4% 2% 4%;
        font-size: 9vw;
        text-align: center;
        animation: slideLeftMobile ease-in-out forwards 2s;
      }

      &__badge {
        width: 46%;
        border-radius: 4vw;

        img {
          margin-left: 4%;
        }

        p {
          width: 100%;
          font-size: 3.4vw;
        }
      }

      &__description {
        width: 90%;
        margin-top: 3%;
        text-align: center;
        font-size: 4vw;

        animation: slideLeftMobile ease-in-out forwards 2s;
      }

      &__btns {
        width: 88%;
        flex-direction: column;

        button {
          width: 100%;
          font-size: 3vw;
          border-radius: 2vw;
          animation: slideFlootMobile linear infinite 2s;
          &:last-child {
            margin-top: 3%;
            animation: slideFlootMobile linear infinite 2s;
          }
        }
      }
    }
    &__picture {
      display: none;
    }
  }
  @media (max-width: 167px) {
    &__content {
      @include v.flex-center;
      width: 100%;
      padding: 2%;
      flex-direction: column;

      h1 {
        padding: 0 1% 2% 1%;
        font-size: 11vw;
      }

      &__badge {
        width: 90%;
        border-radius: 6vw;
        margin-bottom: 6%;

        img {
          padding: 2%;
          margin-left: 4%;
        }

        p {
          width: 100%;
          font-size: 6vw;
        }
      }

      &__description {
        width: 100%;
        font-size: 6.5vw;
      }

      &__btns {
        width: 90%;

        button {
          font-size: 6vw;
          border-radius: 2vw;
          &:last-child {
            margin-top: 3%;
          }
        }
      }
    }
    &__picture {
      display: none;
    }
  }
}

@keyframes slideFloot {
  0% {
    transform: translateY(2vh);
  }

  50% {
    transform: translateY(0vh);
  }

  100% {
    transform: translateY(2vh);
  }
}
@keyframes slideFlootMobile {
  0% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(0vh);
  }

  100% {
    transform: translateY(20px);
  }
}

@keyframes slideFlootReverse {
  0% {
    transform: translateY(0vh);
  }

  50% {
    transform: translateY(2vh);
  }

  100% {
    transform: translateY(0vh);
  }
}

@keyframes slideZoom {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideLeftMobile {
  0% {
    transform: translateX(10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
