@use "../../base/variables" as V;

.menu_burger {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(48, 48, 48, 0.676);
  display: flex;
  justify-content: flex-end;

  &__content {
    width: 80%;
    //     height: 50vh;
    background-color: V.$background-volunteer;
    position: relative;
    top: 0%;
    right: 0%;
    //     padding: 2% 0 3% 5%;

    &__header {
      @include V.flex-between;
      align-items: stretch;
      background-color: #000000bc;

      padding: 5%;

      a {
        div {
          justify-content: space-between;
          img {
            width: 68%;
            border-radius: 50%;
          }
          h2 {
            margin-left: 30%;
            font-size: 4vw;
          }
        }
      }

      button {
        color: #fff;
        font-size: 6vw;
        margin-top: 1%;
        background: transparent;
        border: none;
        cursor: pointer;
      }
    }

    ul {
      li {
        list-style: none;
      }
    }
    //     left: 100%;
  }
}
