@use "../../base/variables" as V;
a {
  text-decoration: none;

  .title_page {
    @include V.flex-around;

    img {
      width: 15%;
    }
    h2 {
      padding-left: 2%;
      font-size: 1vw;
      text-wrap: nowrap;
    }
  }
}

@media (max-width: 1224px) {
  a {
    .title_page {
      img {
        width: 16%;
      }
      h2 {
        padding-left: 2%;
        font-size: 1.3vw;
      }
    }
  }
}
@media (max-width: 824px) {
  a {
    width: 30%;
    .title_page {
      img {
        width: 15%;
      }
      h2 {
        padding-left: 1%;
        font-size: 2.4vw;
      }
    }
  }
}
@media (max-width: 592px) {
  a {
    width: 50%;
    margin-left: 3%;

    .title_page {
      img {
        width: 15%;
      }
      h2 {
        width: 90%;
        padding-left: 4%;
        font-size: 3vw;
      }
    }
  }
}
@media (max-width: 167px) {
  a {
    width: 80%;
    margin-left: 3%;

    .title_page {
      img {
        width: 15%;
      }
      h2 {
        width: 100%;
        padding-left: 6%;
        font-size: 6vw;
        text-wrap: nowrap;
      }
    }
  }
}
